# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Dataset
data/*.csv

# Large trained models
models/*.pkl
!models/rain_classifier.pkl
!models/random_forest_model.pkl

# Environment files
.env

# OS files
.DS_Store
Thumbs.db